.Coupons {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Coupons_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}
.Coupons_top > input {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.Coupons_top > button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(238, 221, 55, 1);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
.coupon_list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
}
.coupon_item {
  width: 23%;
  border-radius: 16px;
  background-color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.coupon_item_top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  background-color: #d5d5d5;
  padding: 20px;
  border-radius: 16px;
}
.coupon_item_top h2 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.coupon_item_top h2 img {
  width: 40px;
}
.coupon_item_top > p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 2.5rem;
}
.coupon_item_bottom {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.coupon_item_bottom > p {
  color: rgba(0, 0, 0, 0.7);
}
.coupon_item_bottom > p > span {
  font-size: 0.9rem;
  color: #000;
  font-weight: bold;
}
.coupon_item > hr {
  width: 90%;
  margin: 0 auto;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.coupon_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.coupon_btns > button {
  width: 45%;
  padding: 8px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.coupon_btns > button:first-child {
  border: 1px solid rgba(212, 24, 61, 0.5);
  color: rgba(212, 24, 61, 1);
}
.coupon_btns > button:last-child {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
}
/* add Coupon */
.add_Coupon {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.add_Coupon_container {
  width: 500px;
  height: 80%;
  max-height: 98vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  position: relative;
  z-index: 2;
}
.add_Coupon_container > svg {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
.add_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.add_title > img {
  width: 64px;
}
.add_title_info > h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
.add_title_info > p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}
.add_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.add_form > label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.add_form > label > span {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.add_form > label > input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
}
.add_btns,
.delete_btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.add_btns > button,
.delete_btns > button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}
.add_btns > button:first-child {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.add_btns > button:last-child {
  background-color: rgba(238, 221, 55, 1);
}
.delete_modal_container {
  background: #fff;
  padding: 25px;
  width: 400px;
  border-radius: 15px;
  z-index: 9999;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}
.delete_modal_container > h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #e63946;
}
.delete_modal_container > p {
  margin-top: 10px;
  color: #555;
}
.close_delete_icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 28px;
  color: #444;
}

.delete_details {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.delete_btns > .delete_Coupon {
  background: #e63946;
  color: white;
}

.delete_Coupon:hover {
  background: #c9302c;
}
.delete_btns > button:first-child {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.delete_btns > button:last-child {
  background-color: #e63946;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  margin: 0 auto;
}
.loading p {
  color: rgba(0, 0, 0, 0.5);
  animation: loading 5s linear infinite;
}
@keyframes loading {
  0% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
  25% {
    color: rgba(0, 0, 0, 0.2);
    scale: 1;
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
  75% {
    color: rgba(0, 0, 0, 0.2);
    scale: 1;
  }
  100% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: rgba(238, 221, 55, 1);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.delete_modal {
  height: 30%;
}
