.brand {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}
.brand_top > input {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.brand_top > button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(238, 221, 55, 1);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
.brand_list {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.brand_item {
  width: 250px;
  background-color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}
.brand_item > .brand_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.brand_item_name {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.brand_item_name > h2 {
  font-size: 20px;
}
.brand_item > h2 {
  color: rgba(0, 0, 0, 0.5);
}
.brand_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.brand_btns > button {
  width: 100px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.brand_btns > button:first-child {
  border: 1px solid rgba(212, 24, 61, 1);
  color: rgba(212, 24, 61, 1);
}
@media screen and (min-width: 1600px) {
  .brand_item {
    width: 300px;
  }
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 10px;
  margin: 0 auto;
}
.loading p {
  color: rgba(0, 0, 0, 0.5);
  animation: loading 5s linear infinite;
}
@keyframes loading {
  0% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
  25% {
    color: rgba(0, 0, 0, 0.2);
    scale: 1;
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
  75% {
    color: rgba(0, 0, 0, 0.2);
    scale: 1;
  }
  100% {
    color: rgba(0, 0, 0, 0.5);
    scale: 1.05;
  }
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: rgba(238, 221, 55, 1);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
