.Users {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Users_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}
.Users_top > input {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.Users_top > button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(238, 221, 55, 1);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
