.Tiers {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Tiers_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
}
.Tiers_top > input {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.Tiers_top > button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(238, 221, 55, 1);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}
.tier_list {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tier_item {
  width: 24%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.tire_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.tire_title h2 {
  font-size: 1rem;
  font-weight: bold;
}
.tier_list .tier_item:nth-child(even) > .tire_title > svg {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 10px;
  font-size: 2.5rem;
}
.tier_list .tier_item:nth-child(odd) > .tire_title > svg {
  background-color: rgba(238, 221, 55, 0.1);
  border-radius: 50%;
  padding: 10px;
  font-size: 2.5rem;
  color: rgba(238, 221, 55, 1);
}

.tier_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tier_btns button {
  width: 45%;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.tier_btns button:last-child {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.tier_btns button:first-child {
  color: rgba(212, 24, 61, 1);
  border: 1px solid rgba(212, 24, 61, 0.5);
}
